.person {
  background: $color-white;
  display: inline-block;
  margin: 3rem 3rem 3rem 0;
  padding: 1rem 1rem 1rem 7rem;
  position: relative;
  vertical-align: top;
  width: 43%;

  &:nth-child(2n+1) {
    margin-right: 7%;
  }

  @include laptop {
    width: 85%;
  }

  @include tablet {
    padding-left: 10rem;
  }

  @include mobile {
    margin: 1rem 0;
    padding-left: 1rem;
    width: 100%;
  }
}

.person-name,
.person-title {
  display: block;
}

.person-name {
  font-weight: bold;
}

.person-title {
  margin-bottom: .5rem;
}

.person-email,
.person-phone-number {
  color: $color-gray-dark;
  display: block;
  font-size: $type-size-small;
  line-height: $type-leading-small;
}

.person-phone-number {
  margin-bottom: 1rem;
}

.person-bio {
  font-size: $type-size-small;

  p {
    margin-bottom: 1rem;
  }

  @include mobile {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.person-image {
  background: $color-gray-dark;
  border-radius: 100%;
  height: 140px;
  left: -40px;
  overflow: hidden;
  position: absolute;
  top: -40px;
  width: 140px;

  img {
    height: auto;
    max-width: 100%;
  }

  @include tablet {
    left: 0px;
  }

  @include mobile {
    margin-bottom: 1rem;
    position: relative;
    top: 0;
  }
}
